body {
	padding: 0;
	margin: 0;
  }
  
  #map {
	width: 100%;
	height: 850px;
	background: white;
  }

/* Fondo blanco - sin mapa 

.leaflet-tile-container {
	display: none;
	}*/

.info {
	padding: 5px;
	text-align: right;
	width: fit-content;
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
	background:(0, 0 , 0, 0.5);
	}